.tasks
  flex-direction column
  width 500px
  margin-top 30px
  padding 0 5px
  align-items center
  .form
    margin 30px 0
    &__control
      font-size 16px
      width 450px
      padding 5px
  &__list
    width 300px
    max-height 500px
    flex-direction: column
    overflow-y auto
    overflow-x hidden
  .task
    min-height 30px
    padding 10px 0
    font-size 18px
    &__text
      padding 0 10px
      width 250px
      word-break break-all
    &_complete
      text-decoration line-through
    &__delete
      height 20px
      width 20px
