$backgroundColor = white
$mainFontColor = black
$mainNavColor = lightgray
$activeNavColor = gray

$calendarBorderColor = white
$calendarHeaderTextColor = white
$calendarHeaderBackgroundColor = gray
$dayBackgroundColor = lightgray
$dayBackgroundColorActive = lightpink

$buttonColor = lightgray

$reminderInactiveColor = gray
