div,
h1,
p,
ul,
li,
form,
select
  padding 0
  margin 0
  display flex
  box-sizing border-box
  border none
  border-radius 0px
  appearance none

input:focus, button:focus
  outline none

body
  display flex
  flex-direction column
  align-items center 
